.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

.slide1{
    background-image: url('../assests/tshirt-images/modern.jpg');
    position: relative;
}
.slide2{
  background-image: url('../assests/tshirt-images/sports.jpg');
  position: relative;
}

.slide3{
  background-image: url('../assests/tshirt-images/Family.jpg');
  position: relative;
}
.slide4{
  background-image: url('../assests/tshirt-images/month.jpg');
  position: relative;
}
.buy-btn{
    position: absolute;
    bottom: 40px;
    right: 70px;
}